#!/usr/bin/env ansible-playbook
---
- name: Install and configure
  hosts: all
  become: true

  vars_files:
    - custom.yml
    - secret.yml

  handlers:
    - name: Import global handlers
      ansible.builtin.import_tasks: handlers/main.yml

  roles:
    - role: system
      tags:
        - system

    - role: security
      tags:
        - security

    - role: dns
      tags:
        - dns

    - role: geerlingguy.docker
      tags:
        - docker

    - role: docker_network
      tags:
        - docker

    - role: docker_proxy
      tags:
        - docker

    - role: crowdsec
      tags:
        - crowdsec

    - role: traefik
      tags:
        - traefik

    - role: authelia
      tags:
        - authelia

    - role: whoami
      tags:
        - whoami

    - role: unbound
      tags:
        - unbound

    - role: adguardhome
      tags:
        - adguardhome

    - role: amnezia_wg
      tags:
        - amnezia_wg

    # This is my website role, you can create your own role
    - role: mywebsite
      tags:
        - mywebsite

    - role: vaultwarden
      tags:
        - vaultwarden

    - role: homepage
      tags:
        - homepage

    - role: grafana
      tags:
        - grafana

    - role: uptime_kuma
      tags:
        - uptime_kuma

    - role: proxy
      tags:
        - proxy

    - role: n8n
      tags:
        - n8n

    - role: freqtrade
      tags:
        - freqtrade

    - role: whatsupdocker
      tags:
        - whatsupdocker

    - role: chriswayg.msmtp-mailer
      tags:
        - msmtp
