{
  "log": {
    "loglevel": "warning"
  },
  "dns": {
    "servers": [
      "10.8.4.2",
      "10.8.4.3"
    ],
    "queryStrategy": "UseIP",
    "disableCache": false,
    "tag": "dns-adguard"
  },
  "inbounds": [
    {
      "tag": "vless-reality",
      "listen": "0.0.0.0",
      "port": {{ xray_reality_port }},
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "{{ vless_reality_uuid }}",
            "flow": "xtls-rprx-vision"
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "show": false,
          "dest": "{{ reality_dest }}",
          "xver": 0,
          "serverNames": {{ reality_server_names | to_json }},
          "privateKey": "{{ reality_private_key }}",
          "shortIds": ["{{ reality_short_id }}"]
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": ["http", "tls", "quic"],
        "routeOnly": true
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "tag": "direct",
      "settings": {
        "domainStrategy": "UseIP"
      }
    },
    {
      "protocol": "blackhole",
      "tag": "blocked"
    }
  ],
  "routing": {
    "domainStrategy": "IPIfNonMatch",
    "rules": [
      {
        "type": "field",
        "inboundTag": ["DNS"],
        "outboundTag": "direct"
      },
      {
        "type": "field",
        "ip": ["10.8.4.0/24"],
        "outboundTag": "direct"
      },
      {
        "type": "field",
        "ip": ["geoip:private"],
        "outboundTag": "blocked"
      }
    ]
  }
}
