---
- name: Create the public_network
  community.general.docker_network:
    name: public_network
    driver: bridge
    ipam_config:
      - subnet: 10.8.1.0/24
        gateway: 10.8.1.1
        iprange: 10.8.1.128/25

- name: Create the redis_network
  community.general.docker_network:
    name: redis_network
    driver: bridge
    internal: true
    ipam_config:
      - subnet: 10.8.2.0/24
        gateway: 10.8.2.1
        iprange: 10.8.2.128/25

- name: Create the prometheus_network
  community.general.docker_network:
    name: prometheus_network
    driver: bridge
    internal: true
    ipam_config:
      - subnet: 10.8.3.0/24
        gateway: 10.8.3.1
        iprange: 10.8.3.128/25

- name: Create the dns_network
  community.general.docker_network:
    name: dns_network
    driver: bridge
    ipam_config:
      - subnet: 10.8.4.0/24
        gateway: 10.8.4.1
        iprange: 10.8.4.128/25

- name: Create the homepage_network
  community.general.docker_network:
    name: homepage_network
    driver: bridge
    internal: true
    ipam_config:
      - subnet: 10.8.5.0/24
        gateway: 10.8.5.1
        iprange: 10.8.5.128/25

- name: Create the reverse_proxy_network
  community.general.docker_network:
    name: reverse_proxy_network
    driver: bridge
    internal: true
    ipam_config:
      - subnet: 10.8.6.0/24
        gateway: 10.8.6.1
        iprange: 10.8.6.128/25

- name: Create the docker_proxy_network
  community.general.docker_network:
    name: docker_proxy_network
    driver: bridge
    internal: true
