---
- name: Create the Vaultwarden directory
  ansible.builtin.file:
    path: "{{ docker_dir }}/vw-data"
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0775"

- name: Make sure the Vaultwarden container is created and running
  community.general.docker_container:
    name: "vaultwarden"
    image: "vaultwarden/server:{{ vaultwarden_version }}"
    pull: "always"
    recreate: "{{ force_recreate | default(false) }}"
    state: started
    restart_policy: unless-stopped
    security_opts:
      - no-new-privileges:true
      - apparmor:docker-default
    networks:
      - name: reverse_proxy_network
      - name: dns_network
    labels:
      traefik.enable: "true"
      traefik.docker.network: "reverse_proxy_network"
      traefik.http.routers.vault.entrypoints: "https"
      traefik.http.routers.vault.rule: "Host(`{{ vaultwarden_host }}`)"
      traefik.http.routers.vault.tls: "true"
      traefik.http.routers.vault.service: "vault"
      traefik.http.routers.vault.middlewares: "secure-vpn-with-auth@file"
      traefik.http.services.vault.loadbalancer.server.port: "80"
    volumes:
      - "{{ docker_dir }}/vw-data:/data"
