name: seafile

services:
  seafile-db:
    container_name: seafile-db
    image: mariadb:{{ mariadb_version }}
    environment:
      MYSQL_ROOT_PASSWORD: "{{ seafile_db_root_password }}"
      MYSQL_LOG_CONSOLE: "true"
      MARIADB_AUTO_UPGRADE: "1"
    volumes:
      - {{ docker_dir }}/seafile/db:/var/lib/mysql
    restart: unless-stopped
    networks:
      - seafile_internal

  seafile-memcached:
    container_name: seafile-memcached
    image: memcached:{{ memcached_version }}
    entrypoint: memcached -m 256
    restart: unless-stopped
    networks:
      - seafile_internal

  seafile:
    container_name: seafile
    image: seafileltd/seafile-mc:{{ seafile_version }}
    volumes:
      - {{ docker_dir }}/seafile/shared:/shared
{% if seafile_storage_box_mount_enabled %}
      - {{ seafile_storage_box_mount_path }}:/shared/seafile/seafile-data:rshared
{% endif %}
    environment:
      DB_HOST: "seafile-db"
      DB_ROOT_PASSWD: "{{ seafile_db_root_password }}"
      SEAFILE_ADMIN_EMAIL: "{{ seafile_admin_email }}"
      SEAFILE_ADMIN_PASSWORD: "{{ seafile_admin_password }}"
      SEAFILE_SERVER_HOSTNAME: "{{ seafile_host }}"
      SEAFILE_SERVER_LETSENCRYPT: "false"
      TIME_ZONE: "Europe/Istanbul"
    depends_on:
      - seafile-db
      - seafile-memcached
    restart: unless-stopped
    networks:
      - seafile_internal
      - app_network
    labels:
      traefik.enable: "true"
      traefik.docker.network: "app_network"
      traefik.http.routers.seafile.entrypoints: "https"
      traefik.http.routers.seafile.rule: "Host(`{{ seafile_host }}`)"
      traefik.http.routers.seafile.tls: "true"
      traefik.http.routers.seafile.middlewares: "open-external@file"
      traefik.http.services.seafile.loadbalancer.server.port: "80"

networks:
  seafile_internal:
    driver: bridge
  app_network:
    external: true
